.jumbotron{
    margin-left: 15%;
    margin-right: 15%;
    /* right side padding seems to be a little off so added 2% extra for compensation */
    padding: 2% 2% 2% 2%; 
    border-radius: 20px;
    background-color: cornsilk;
}



.square{
    height: 125px;
    width: 125px;
    border: 2px solid black;
    font-size:4em;
    text-align:center;
    color: blue;
}